name: Learn Github Actions CI/CD 

on: 
  push: 
    branches: [ "main" ]

permissions:
  contents: read
  packages: write 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Sources
        uses: actions/checkout@v4

      - name: Login to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | \
          podman login ghcr.io \
            -u ${{ github.actor }} \
            --password-stdin

      - name: Build image 
        run: | 
          IMAGE=ghcr.io/${{ github.repository }}/webapp:latest 
          podman build -f Containerfile -t $IMAGE . 

      - name: Push to GHCR 
        run: |
          IMAGE=ghcr.io/${{ github.repository }}/webapp:latest 
          podman push $IMAGE  
